.imgNavBar {
  margin-top: 7px;
  margin-right: 15px;
}

.indexMod h1{
  margin-top: 100px;
  font-size: 60px;
  color: white;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.indexMod button{
  margin-left: 840px;
  font-size: 45px;
  border-radius: 40px;
  background-color: green;
  width: 250px;
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 300px;
}


.ConfigurarJuego option{
  text-align: left;
  
}

.ConfigurarJuego select{
  margin-left: 20px;
}

.ConfigurarJuego img[src="img/logoNormal.png"]{
  margin-left: 750px;
  width: 350px;
  height: auto;
  margin-top: 40px;
}

.ConfigurarJuego{
  background-color: rgb(0, 23, 73)
}

.ConfigurarJuego main{
  display: flex;
  flex-direction: column;
  width: 600px;
  height: auto;
  margin-left: 615px;
  margin-bottom: 25px;
  margin-top: 75px;
}

.ConfigurarJuego section{
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 70px;
  padding: 50px;
  margin-left: 615px;
  margin-bottom: 25px;
  margin-top: 75px;
}

.btn-group input[type=text]{
  background-color: white;
  border-color: black;
  width: 585px;
  height: 100px;
  margin-left: -32px;
  margin-top: -30px;
}

.IndexLink{
  color: white;
  text-decoration: none;
  position: absolute;
  top: 350px;
  right: 900px;
  background-color: rgba(68, 173, 71, 0.842);  
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 30%;
  size: 200px;
  font-size: 30px;
}

.configLink{
  color: white;
  text-decoration: none;
  position: absolute;
  top: 350px;
  right: 900px;
  background-color: rgba(68, 173, 71, 0.842);  
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 30%;
  size: 200px;
  font-size: 30px;
}

.bontonEmpezarJuego input[type=submit]{
  background-color: #4CAF50; 
  color: black; 
  padding: 10px 60px;
  border: none;
  border-radius: 25px;
  cursor: pointer; 
  font-size: 40px;
  margin-left: 790px;
  margin-bottom: 30px;
  margin-top: 20px;
}

.bontonEmpezarJuego input[type=submit]:hover {
  background-color: #45a049; 
}

.opcionesDifCat{
  margin-top: -60px;
}

.imgCiencias{
  position: absolute;
  right: 1700px;
  top: 718px;
  width: 250px;
}

.imgDeportes{
  position: absolute;
  right: 0px;
  top: 655px;
  width: 300px;
}

.imgEntretenimiento{
  position: absolute;
  left: 1741px;
  top: 42px;
  width: 180px;
}

.imgHistoria{
  position: absolute;
  top: 46px;
  right: 1730px;
  width: 250px;
}

.ConfigLogo{
  margin-left: 780px;
  width: 300px;
  height: auto;
}

.juego{
  background-color: rgb(0, 23, 73)
}

.pregunta h1{
  text-align: center;
  font-size: 50px;
  color: white;
  margin-top: 90px;
}

.imgPregunta img{
  width: 350px;
  height: auto;
  margin-left: 780px;
  margin-top: 35px;
}

.opcionesRespuestas{
  margin-left: 150px;
}

.respuestaArriba input[type=button]{
  padding-left: 150px;
  padding-right: 150px;
  font-size: 30px;
  border-radius: 30px;
  margin-top: 70px;
}

.respuestaAbajo input[type=button]{
  padding-left: 150px;
  padding-right: 150px;
  font-size: 30px;
  border-radius: 30px;
  margin-top: 120px;
}

.izqArriba{
  margin-left: 230px;
}

.derArriba{
  margin-left: 400px;
}

.izqAbajo{
  margin-left: 230px;
}

.derAbajo{
  margin-left: 400px;
}

.resCorrecta{
  background-color: rgb(81, 250, 58)
}

.resCorrecta h1{
  text-align: center;
  margin-top: 60px;
  font-size: 70px;
}

.imgTic img{
  width: 300px;
  margin-left: 800px;
  margin-top: 70px;
}

.resCorrecta h3{
  margin-left: 800px;
  margin-right: 850px;
  margin-top: 40px;
  background-color: black;
  color: white;
  font-size: 40px;
  padding: 12px;
  border-radius: 10px;
}

.resCorrecta input[type=button]{
  background-color: white;
  font-size: 40px;
  border-radius: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 75px;
  padding-left: 75px;
  margin-left: 775px;
  margin-top: 20px;
}

.barraAbajo {
  background-color: #333;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: inline;
  
}

.barraAbajo h4{
  margin-left: 10px;
  color: white;
}

.resIncorrecta{
  background-color: rgb(255, 49, 49)
}

.resIncorrecta h1{
  text-align: center;
  margin-top: 60px;
  font-size: 70px;
}

.imgCruz img{
  width: 300px;
  margin-left: 800px;
  margin-top: 70px;
}

.resIncorrecta h3{
  margin-left: 810px;
  margin-right: 840px;
  margin-top: 40px;
  background-color: black;
  color: white;
  font-size: 40px;
  padding: 12px;
  border-radius: 10px;
}

.resIncorrecta input[type=button]{
  background-color: white;
  font-size: 40px;
  border-radius: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 75px;
  padding-left: 75px;
  margin-left: 780px;
  margin-top: 20px;
}


.fin{
  background-color: rgb(0, 23, 73)
}

.tarjeta{
  background-color: white;
  width: 700px;
  height: 500px;
  margin-top: 150px;
  margin-left: 600px;
  border: 6px solid;
  border-color: black;
}

.tarjeta h1{
  text-align: center;
  font-size: 55px;
  margin-bottom: 80px;
}

.tarjeta h3{
  font-size: 30px;
  margin-bottom: 80px;
}

.tarjeta input[type=button]{
  margin-left: 230px;
  background-color: black;
  color: white;
  border-radius: 20px;
  font-size: 30px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

.tarjeta img{
  margin-top: -430px;
  margin-left: 380px;
  width: 240px;
}

.credito{
  background-color: rgb(0, 23, 73)
}

.credito h1{
  color: white;
  font-size: 50px;
  text-align: center;
  margin-top: 100px;
}

.imgCreditos{
  width: 300px;
  margin-left: 815px;
  margin-top: 20px;
  margin-bottom: 150px;
}

ul.lista-horizontal {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.lista-horizontal li {
  display: inline;
  margin-right: 10px; 
}

.lista-horizontal li{
  background-color: white;
  color: black;
  font-size: 30px;
  border-radius: 20px;
  padding: 5px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: 255px;
  border: 5px solid;
}