html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  margin: 20px 60px 0px 20px;
}

footer {
  position: fixed; 
  bottom: 0; 
  margin: 10px 0px 20px 0px;
}

.botonIndex {
  background-color: #67ff9f;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 16px 50px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 50px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 760px;
  margin-top: 250px;
}

.botonIndex {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

.index{
  margin: 20px 60px 0px 20px;
  background-image: url('../img/fondoIndex.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.index h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  margin-top: 100px;
}

.nav-item a{
  margin-left: 15px;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.configurarJuego h1{
  text-align: center;
  margin-top: 35px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.configurarJuego{
  margin: 20px 60px 0px 20px;
  background-image: url('../img/fondoConfigurarJuego.jfif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}